.phone-screen {
  text-align: center;
  margin: 0 auto;
  background: linear-gradient(to top, #30cfd0 0%, #330867 100%);
  max-width: 400px;
  border-radius: 15px;
  padding: 10px;
}
.search-area {
  margin: 0;
}
.search-button {
  margin: 10px 10px 10px 0;
}
.row,
.current-city,
.weather-conditions,
.temperature,
.degrees {
  color: whitesmoke;
}
.row {
  font-size: 18px;
}

.current-city {
  padding: 10px 10px 0 10px;
  font-size: 36px;
}
.current-city:first-letter {
  text-transform: capitalize;
}
.weather-conditions {
  font-size: 20px;
  font-weight: lighter;
}
.temperature {
  font-size: 50px;
  margin-bottom: 30px;
}

.other-days {
  margin-left: 15px;
  text-align: left;
  padding-bottom: 10px;
}
.degrees {
  display: block;
  margin: 0 auto;
}
ul {
  margin: 0 0 10px;
  padding: 0;
}
li {
  color: white;
  list-style: none;
}
#last-line {
  margin-bottom: 20px;
}
.weather-icon {
  height: 70px;
  margin-top: 0;
  margin-right: 10px;
  padding: 0;
  position: relative;
  top: -15px;
}
.units {
  position: relative;
  top: -25px;
}
.open-source-line {
  display: block;
  margin: 0 auto;
}
